{% extends 'base.html' %}

{% block content %}
<html>
<head>
    <title>Toilter</title>
    <link rel="stylesheet" href="{{ url_for('static',filename="css/bootstrap.min.css") }}">
</head>
<body>
    <p>Bem-vindo ao Toilter</p>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">        
    </script>
    <script src="{{ url_for('static', filename="js/bootstrap.min.js")}}"> 
    </script>
</body>
</html>
{% endblock %}